main {
    background-color: #f8f9fa; /* Light gray background for a subtle look */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#displayQuestion {
    font-family: "Sevillana", cursive;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    font-size: 30px; /* Larger text for visibility */
}
.container-fluid{
    display: inline !important;
}
#font{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}