main {
    background-color: #f8f9fa; /* Light gray background for a subtle look */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#displayQuestion {
    margin-top: 10px;
    font-size: 20px; /* Larger text for visibility */
}
.container-fluid{
    display: inline !important;
}
